/* Скидання відступів, полів, розмірів шрифтів і форматування за замовчуванням */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Скидання стилів для тегів */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Скидання шрифтів і висоти рядків */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Додаткові скидання */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}